.introduction {
    height: 100px;
    width: 70%;
    border: 1px solid gray;
    padding: 1em;
    display: grid;
    grid-template-areas: "one two two"
    "one two two"
    "one three three";
    gap: 1em;
}
.obj{
    height: 100px;
    width: 70%;
    border: 1px solid gray;
    padding: 1em;
    display: grid;
    grid-template-areas: "one two two"
    "one two two"
    "one three three";
    gap: 1em;
}
.education{
    height: 100px;
    width: 70%;
    border: 1px solid gray;
    padding: 1em;
    display: grid;
    grid-template-areas: "one two two"
    "one two two"
    "one three three";
    gap: 1em;
}
.skills{
    height: 100px;
    width: 70%;
    border: 1px solid gray;
    padding: 1em;
    display: grid;
    grid-template-areas: "one two two"
    "one two two"
    "one three three";
    gap: 1em;
}
.ref{
    height: 150px;
    width: 70%;
    border: 1px solid gray;
    padding: 1em;
    display: grid;
    grid-template-areas: "one two two"
    "one two two"
    "one three three";
    gap: 1em;
}
.unity{
    height: 100px;
    width: 70%;
    border: 1px solid gray;
    padding: 1em;
    display: grid;
    grid-template-areas: "one two two"
    "one two two"
    "one three three";
    gap: 1em;
}



