h1 { color: orange; }
h2.blue { color: purple; }
.gray { color:  darkgreen ; }
#golden { color: darkmagenta; }
.container : { background: yellow; }

h1 { color: orange; }
h2.blue { color: purple; }
.gray { color:  darkgreen ; }
#golden { color: darkmagenta; }
.container : { background: yellow; }